

<div [@fadeInOutRoute]="o.isActivated ? o.activatedRoute : ''" class="content-area">
  <router-outlet #o="outlet"></router-outlet>
</div>
<nav [@fadeInOut] class="sidenav" [clr-nav-level]="1">
  <section class="sidenav-content">
    <a routerLink="/settings" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" class="nav-link">
      {{'settings.sidenav.Settings' | translate}}
    </a>
    <section class="nav-group collapsible">
      <input id="userSettings" type="checkbox">
      <label for="userSettings">{{'settings.sidenav.General' | translate}}</label>
      <ul class="nav-list">
        <li>
          <a [routerLink]="['profile']" routerLinkActive="active" class="nav-link">
            {{'settings.sidenav.Profile' | translate}}
          </a>
        </li>
        <li>
          <a [routerLink]="['preferences']" routerLinkActive="active" class="nav-link">
            {{'settings.sidenav.Preferences' | translate}}
          </a>
        </li>
      </ul>
    </section>
  </section>
</nav>
