<div [@fadeInOut] class="main-container">
  <header class="header header-6" *ngIf="isUserLoggedIn">
    <div class="branding">
      <a routerLink="" class="nav-link">
        <span class="title">Project SimpleTask</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="2">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link"><span class="nav-text">{{'pageHeader.Dashboard' | translate}}</span></a>
      <a routerLink="/tasks" routerLinkActive="active" class="nav-link"><span class="nav-text">{{'pageHeader.Tasks' | translate}}</span></a>
      <a routerLink="/admin" routerLinkActive="active" class="nav-link"><span class="nav-text">{{'pageHeader.Admin' | translate}}</span></a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="user" class="is-solid has-badge--success"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a [routerLink]="['settings/profile']" clrDropdownItem>
            <clr-icon shape="user"></clr-icon>
            {{'settings.sidenav.Profile' | translate}}
          </a>
          <a [routerLink]="['settings/preferences']" clrDropdownItem>
            <clr-icon shape="view-list"></clr-icon>
            {{'settings.sidenav.Preferences' | translate}}
          </a>
          <div class="dropdown-divider"></div>
          <a clrDropdownItem (click)="logout()" href="javascript:;">
            <clr-icon shape="lock"></clr-icon>
            {{'loginScreen.Logout' | translate}}
          </a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
    <ngx-toasta></ngx-toasta>
      <router-outlet></router-outlet>
</div>
