
<div [@fadeInOut] style="padding: 1rem 1rem 1rem 1rem" class="content-area">
  <div [@fadeInOut] *ngIf="configurations.showUserManagement">
    <div class="clearfix"></div>
    <a href="" class="close pull-right statistics-close-btn" size="36" role="tooltip" (click)="configurations.showUserManagement = false">
      <clr-icon title="Close" shape="times"></clr-icon>
    </a>
    <app-task-management></app-task-management>
  </div>

  <!--<div [@fadeInOut] *ngIf="configurations.showRoleManagement">
    <div class="clearfix"></div>
    <a href="" class="close pull-right statistics-close-btn" size="36" role="tooltip" (click)="configurations.showRoleManagement = false">
      <clr-icon title="Close" shape="times"></clr-icon>
    </a>
    <app-role-management></app-role-management>
  </div>-->
</div>
