<div class="contentWrapper">
  <app-task-edit (cancel)="open($event)" (refresh)="loadData($event)" (popSelected)="popSelected($event)" (popData)="popItem($event)" (updateData)="handleUpdate($event)" (deleteData)="loadData($event)"></app-task-edit>
  <clr-tabs [hidden]="!isOpen">
    <!-- Active Tab -->
    <clr-tab>
      <button (click)="loadPending()" clrTabLink>Pending</button>
      <ng-template [(clrIfActive)]="PendingActive">
        <clr-tab-content>
          <clr-datagrid [@fadeInOut] style="height:632px;" class="datagrid-compact">
            <clr-dg-action-bar>
              <div style="margin-right: 0rem; margin-left: 0rem;" class="clr-row clr-justify-content-between">
                <div class="btn-group btn-primary btn-sm">
                  <button type="button" class="btn " (click)="onAdd()"><clr-icon shape="plus"></clr-icon>{{'tasks.management.NewTask' | translate}}</button>
                </div>
                <div class="btn-group">
                  <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'tasks.management.Search' | translate}}"></app-search-box>
                </div>
              </div>
            </clr-dg-action-bar>
            <clr-dg-column [style.width.px]="120">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                Id
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'title'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Task' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'priority'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Priority' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'status'">
              <ng-container>
                {{'tasks.management.Status' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'developer.fullName'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Developer' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-placeholder>Loading Tasks!</clr-dg-placeholder>
            <clr-dg-row *clrDgItems="let task of tasks" [clrDgItem]="task">
              <clr-dg-cell>
                <clr-icon shape="tasks" class="is-highlight is-solid"></clr-icon>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.id}} </a>
                <span *ngIf="task.openBugcount > 0" class="badge badge-danger">{{task.openBugcount}}</span>
              </clr-dg-cell>
              <clr-dg-cell>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.title}} </a>
              </clr-dg-cell>

              <clr-dg-cell>
                <clr-icon *ngIf="task.priority == 'Critical'" shape="exclamation-triangle" size="15" class="is-error"></clr-icon>
                <clr-icon *ngIf="task.priority == 'High'" shape="exclamation-triangle" size="15" class="is-warning"></clr-icon>
                <clr-icon *ngIf="task.priority == 'Medium'" shape="exclamation-triangle" size="15" class="is-highlight"></clr-icon>
                <clr-icon *ngIf="task.priority == 'Low'" shape="exclamation-triangle" size="15" class="is-success"></clr-icon>
                {{task.priority}}

              </clr-dg-cell>

              <clr-dg-cell>
                <clr-icon *ngIf="task.status == 'New'" shape="circle" size="12" class="is-inverse is-solid"></clr-icon>
                <clr-icon *ngIf="task.status == 'Active'" shape="circle" size="12" class="is-solid is-highlight"></clr-icon>
                <clr-icon *ngIf="task.status == 'Resolved'" shape="circle" size="12" class="is-solid is-warning"></clr-icon>
                <clr-icon *ngIf="task.status == 'Completed'" shape="circle" size="12" class="is-solid is-success"></clr-icon>
                <clr-icon *ngIf="task.status == 'Closed'" shape="circle" size="12" class="is-solid is-error"></clr-icon>
                {{task.status}}
              </clr-dg-cell>

              <clr-dg-cell>
                <clr-signpost>
                  <clr-icon size="15" shape="avatar"
                            clrSignpostTrigger>
                  </clr-icon>
                  <clr-signpost-content [clrPosition]="'left-middle'" *clrIfOpen>
                    {{task.developer.fullName}}
                    <br />
                    Phone: {{task.developer.phoneNumber}}
                    <br />
                    Email: {{task.developer.email}}
                  </clr-signpost-content>
                </clr-signpost>
                {{task.developer.fullName}}
              </clr-dg-cell>

              <clr-dg-action-overflow>
                <button *ngIf="task.status === 'New'" class="action-item" (click)="onActive(task)">Mark as Active</button>
                <button *ngIf="task.status === 'Active'" title="{{task.status === 'New' || task.openBugcount > 0 ? 'There are open bugs for this task, please resolve them first':'No bugs found, you can resolve the task'}}" [disabled]="task.openBugcount > 0" class="action-item" (click)="onResolved(task)">Mark as Resolved</button>
              </clr-dg-action-overflow>
            </clr-dg-row>
            <clr-dg-footer>
              <clr-dg-column-toggle>
              </clr-dg-column-toggle>
              <clr-dg-pagination #pagination [clrDgPageSize]="20">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">{{'tasks.management.TasksPerPage' | translate}}</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                {{pagination.totalItems}} {{'tasks.management.Tasks' | translate}}
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
    <!-- Resolved Tab -->
    <clr-tab>
      <button (click)="loadResolved()" clrTabLink>Resolved</button>
      <ng-template [(clrIfActive)]="ResolvedActive">
        <clr-tab-content>
          <clr-datagrid [@fadeInOut] style="height:632px;" class="datagrid-compact">
            <clr-dg-action-bar>
              <div style="margin-right: 0rem; margin-left: 0rem;" class="clr-row clr-justify-content-between">
                <div class="btn-group btn-primary btn-sm">
                  <button type="button" class="btn " (click)="onAdd()"><clr-icon shape="plus"></clr-icon>{{'tasks.management.NewTask' | translate}}</button>
                </div>
                <div class="btn-group">
                  <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'tasks.management.Search' | translate}}"></app-search-box>
                </div>
              </div>
            </clr-dg-action-bar>
            <clr-dg-column [style.width.px]="120">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                Id
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'title'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Title' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'priority'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Priority' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'status'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Status' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'developer.fullName'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Tester' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-placeholder>Loading Tasks!</clr-dg-placeholder>

            <clr-dg-row *clrDgItems="let task of tasks" [clrDgItem]="task">
              <clr-dg-cell>
                <clr-icon shape="tasks" class="is-highlight is-solid"></clr-icon>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.id}} </a>
                <span *ngIf="task.openBugcount > 0" class="badge badge-danger">{{task.openBugcount}}</span>
                <span *ngIf="task.resolvedBugcount > 0" class="badge badge-warning">{{task.resolvedBugcount}}</span>
              </clr-dg-cell>
              <clr-dg-cell>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.title}} </a>
              </clr-dg-cell>

              <clr-dg-cell>
                <clr-icon *ngIf="task.priority == 'Critical'" shape="exclamation-triangle" size="15" class="is-error"></clr-icon>
                <clr-icon *ngIf="task.priority == 'High'" shape="exclamation-triangle" size="15" class="is-warning"></clr-icon>
                <clr-icon *ngIf="task.priority == 'Medium'" shape="exclamation-triangle" size="15" class="is-highlight"></clr-icon>
                <clr-icon *ngIf="task.priority == 'Low'" shape="exclamation-triangle" size="15" class="is-success"></clr-icon>
                {{task.priority}}
              </clr-dg-cell>

              <clr-dg-cell>
                <clr-icon *ngIf="task.status == 'New'" shape="circle" size="12" class="is-inverse is-solid"></clr-icon>
                <clr-icon *ngIf="task.status == 'Active'" shape="circle" size="12" class="is-solid is-highlight"></clr-icon>
                <clr-icon *ngIf="task.status == 'Resolved'" shape="circle" size="12" class="is-solid is-warning"></clr-icon>
                <clr-icon *ngIf="task.status == 'Completed'" shape="circle" size="12" class="is-solid is-success"></clr-icon>
                <clr-icon *ngIf="task.status == 'Closed'" shape="circle" size="12" class="is-solid is-error"></clr-icon>
                {{task.status}}
              </clr-dg-cell>

              <clr-dg-cell>
                <clr-signpost>
                  <clr-icon size="15" shape="avatar"
                            clrSignpostTrigger>
                  </clr-icon>
                  <clr-signpost-content [clrPosition]="'left-middle'" *clrIfOpen>
                    {{task.tester.fullName}}
                    <br />
                    Phone: {{task.tester.phoneNumber}}
                    <br />
                    Email: {{task.tester.email}}
                  </clr-signpost-content>
                </clr-signpost>
                {{task.tester.fullName}}
              </clr-dg-cell>

              <clr-dg-action-overflow>
                <div *ngIf="task.status === 'Resolved'">
                  <button title="{{task.openBugcount > 0 ? 'Return the task for the developer' : 'There are no active bugs'}}"
                          [disabled]="task.openBugcount == 0" class="action-item" (click)="onActive(task)">
                    Return for bugfixing
                  </button>
                  <button title="{{task.openBugcount == 0 && task.resolvedBugcount == 0 ? 'Task will be marked for release' : 'There are pending Bugs.'}}"
                          [disabled]="task.openBugcount > 0 || task.resolvedBugcount > 0" class="action-item" (click)="onCompleted(task)">
                    Mark task as Completed
                  </button>
                </div>
              </clr-dg-action-overflow>
            </clr-dg-row>

            <clr-dg-footer>
              <clr-dg-column-toggle>
              </clr-dg-column-toggle>
              <clr-dg-pagination #pagination [clrDgPageSize]="20">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">{{'tasks.management.TasksPerPage' | translate}}</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                {{pagination.totalItems}} {{'tasks.management.Tasks' | translate}}
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
    <!-- Completed Tab -->
    <clr-tab>
      <button (click)="loadCompleted()" clrTabLink>Completed</button>
      <ng-template [(clrIfActive)]="CompletedActive">
        <clr-tab-content>
          <clr-datagrid [@fadeInOut] [(clrDgSelected)]="selected" style="height:632px;" class="datagrid-compact">
            <clr-dg-action-bar>
              <div style="margin-right: 0rem; margin-left: 0rem;" class="clr-row clr-justify-content-between">
                <div class="btn-group btn-primary btn-sm">
                  <button type="button" class="btn" (click)="onAdd()"><clr-icon shape="plus"></clr-icon>{{'tasks.management.NewTask' | translate}}</button>
                  <button type="button" class="btn" (click)="onClose(selected)" [disabled]="selected.length == 0"><clr-icon shape="archive" class="is-solid"></clr-icon>Archive Selected</button>

                  <clr-dropdown>
                    <button type="button" [disabled]="selected.length === 0" class="btn btn-success" clrDropdownTrigger>
                      <clr-icon shape="note"></clr-icon>Generate Releasenote
                      <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                      <a (click)="onExportSelected(selected, 'excel')" href="" #excel download="Releasenote_{{curDate | date:'yyyy_MM_dd'}}.csv" clrDropdownItem>Excel</a>
                      <a (click)="onExportSelected(selected, 'word')" href="" #word download="Releasenote_{{curDate | date:'yyyy_MM_dd'}}.doc" clrDropdownItem>Word</a>
                      <a (click)="onExportSelected(selected, 'pdf')" href="" #pdf download="Releasenote_{{curDate | date:'yyyy_MM_dd'}}.pdf" clrDropdownItem>Pdf</a>
                    </clr-dropdown-menu>
                  </clr-dropdown>

                </div>
                <div class="btn-group">
                  <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'tasks.management.Search' | translate}}"></app-search-box>
                </div>
              </div>
            </clr-dg-action-bar>
            <clr-dg-column [style.width.px]="120">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                Id
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'title'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Task' | translate}}
              </ng-container>
            </clr-dg-column>

            <clr-dg-column [clrDgField]="'status'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Status' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-placeholder>Loading Tasks!</clr-dg-placeholder>

            <clr-dg-row *clrDgItems="let task of tasks" [clrDgItem]="task">
              <clr-dg-cell>
                <clr-icon shape="tasks" class="is-highlight is-solid"></clr-icon>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.id}}</a>
              </clr-dg-cell>
              <clr-dg-cell>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.title}} </a>
              </clr-dg-cell>

              <clr-dg-cell>
                <clr-icon *ngIf="task.status == 'New'" shape="circle" size="12" class="is-inverse is-solid"></clr-icon>
                <clr-icon *ngIf="task.status == 'Active'" shape="circle" size="12" class="is-solid is-highlight"></clr-icon>
                <clr-icon *ngIf="task.status == 'Resolved'" shape="circle" size="12" class="is-solid is-warning"></clr-icon>
                <clr-icon *ngIf="task.status == 'Completed'" shape="circle" size="12" class="is-solid is-success"></clr-icon>
                <clr-icon *ngIf="task.status == 'Closed'" shape="circle" size="12" class="is-solid is-error"></clr-icon>
                {{task.status}}
              </clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
              <clr-dg-column-toggle>
              </clr-dg-column-toggle>
              <clr-dg-pagination #pagination [clrDgPageSize]="20">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">{{'tasks.management.TasksPerPage' | translate}}</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                {{pagination.totalItems}} {{'tasks.management.Tasks' | translate}}
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
  </clr-tabs>
</div>
