<div class="contentWrapper">
  <app-task-edit (cancel)="open($event)" (refresh)="loadData($event)" (popSelected)="popSelected($event)" (popData)="popItem($event)" (updateData)="handleUpdate($event)"></app-task-edit>
  <clr-tabs [hidden]="!isOpen">
    <!-- Active Tab -->
    <clr-tab>
      <button (click)="loadData()" clrTabLink>
        Pending
        <clr-icon shape="refresh" size="12" class="is-highlight"></clr-icon>
      </button>
      <ng-template [(clrIfActive)]="PendingActive">
        <clr-tab-content>
          <clr-datagrid [@fadeInOut] style="height:672px;" class="datagrid-compact">
            <clr-dg-action-bar>
              <div style="margin-right: 0rem; margin-left: 0rem;" class="clr-row clr-justify-content-between">
                <div class="btn-group btn-primary btn-sm">
                  <button type="button" class="btn " (click)="onAdd()"><clr-icon shape="plus"></clr-icon>{{'tasks.management.NewTask' | translate}}</button>
                </div>
                <div class="btn-group">
                  <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'tasks.management.Search' | translate}}"></app-search-box>
                </div>
              </div>
            </clr-dg-action-bar>
            <clr-dg-column [style.width.px]="120">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                Id
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'title'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Task' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [style.width.px]="192" [clrDgField]="'developer.fullName'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Developer' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [style.width.px]="84" [clrDgField]="'priority'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Priority' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [style.width.px]="108" [clrDgField]="'status'">
              <ng-container>
                {{'tasks.management.Status' | translate}}
              </ng-container>
            </clr-dg-column>

            <clr-dg-column [style.width.px]="120">
              <ng-container>

              </ng-container>
            </clr-dg-column>
            <clr-dg-placeholder>Skeleta Task System</clr-dg-placeholder>
            <clr-dg-row *clrDgItems="let task of pendingTasks" [clrDgItem]="task">

              <clr-dg-cell>
                <clr-icon shape="tasks" class="is-highlight is-solid"></clr-icon>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.id}} </a>
                <span *ngIf="task.openBugcount > 0" class="badge badge-danger">{{task.openBugcount}}</span>
              </clr-dg-cell>
              <clr-dg-cell>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.title}}</a>
              </clr-dg-cell>

              <clr-dg-cell>
                <clr-signpost>
                  <clr-icon size="15" shape="avatar" class="is-info" clrSignpostTrigger>
                  </clr-icon>
                  <clr-signpost-content [clrPosition]="'left-middle'" *clrIfOpen>
                    {{task.developer.fullName}}
                    <br />
                    Phone: {{task.developer.phoneNumber}}
                    <br />
                    Email: {{task.developer.email}}
                  </clr-signpost-content>
                </clr-signpost>
                {{task.developer.fullName}}
              </clr-dg-cell>

              <clr-dg-cell>
                <clr-icon *ngIf="task.priority == 'Critical'" shape="exclamation-triangle" size="15" class="is-error"></clr-icon>
                <clr-icon *ngIf="task.priority == 'High'" shape="exclamation-triangle" size="15" class="is-warning"></clr-icon>
                <clr-icon *ngIf="task.priority == 'Medium'" shape="exclamation-triangle" size="15" class="is-highlight"></clr-icon>
                <clr-icon *ngIf="task.priority == 'Low'" shape="exclamation-triangle" size="15" class="is-success"></clr-icon>
                {{task.priority}}
              </clr-dg-cell>

              <clr-dg-cell>
                <clr-icon *ngIf="task.status == 'New'" shape="circle" size="12" class="is-inverse is-solid"></clr-icon>
                <clr-icon *ngIf="task.status == 'Active'" shape="circle" size="12" class="is-solid is-highlight"></clr-icon>
                <clr-icon *ngIf="task.status == 'Resolved'" shape="circle" size="12" class="is-solid is-warning"></clr-icon>
                <clr-icon *ngIf="task.status == 'Completed'" shape="circle" size="12" class="is-solid is-success"></clr-icon>
                <clr-icon *ngIf="task.status == 'Closed'" shape="circle" size="12" class="is-solid is-error"></clr-icon>
                {{task.status}}
              </clr-dg-cell>



              <clr-dg-cell style="text-align: right; padding-top: 2px; padding-bottom: 2px;">
                <div style="margin: 0rem 0rem 0rem 0;" class="btn-group btn-primary">
                  <button style="margin: 0rem 0rem 0rem 0;" *ngIf="task.status === 'New'" class="btn btn-sm xs btn-primary" (click)="onActive(task)">
                    <clr-icon shape="play"></clr-icon>
                    Active
                  </button>
                  <button style="margin: 0rem 0rem 0rem 0;" *ngIf="task.status === 'Active'" class="btn btn-sm xs btn-primary"
                          title="{{task.status === 'New' || task.openBugcount > 0 ? 'There are open bugs for this task, please resolve them first':'No bugs found, you can resolve the task'}}"
                          [disabled]="task.openBugcount > 0" (click)="onResolved(task)">
                    <clr-icon shape="check"></clr-icon>
                    Resolve
                  </button>
                </div>
              </clr-dg-cell>
              <app-task-detail *clrIfExpanded [taskId]="task.id" ngProjectAs="clr-dg-row-detail"></app-task-detail>
            </clr-dg-row>
            <clr-dg-footer>
              <clr-dg-column-toggle>
              </clr-dg-column-toggle>
              <clr-dg-pagination #pagination [clrDgPageSize]="20">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">{{'tasks.management.TasksPerPage' | translate}}</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                {{pagination.totalItems}} {{'tasks.management.Tasks' | translate}}
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
    <!-- Resolved Tab -->
    <clr-tab>
      <button (click)="loadData()" clrTabLink>
        Resolved
        <clr-icon shape="refresh" size="12" class="is-highlight"></clr-icon>
      </button>
      <ng-template [(clrIfActive)]="ResolvedActive">
        <clr-tab-content>
          <clr-datagrid [@fadeInOut] style="height:672px;" class="datagrid-compact">
            <clr-dg-action-bar>
              <div style="margin-right: 0rem; margin-left: 0rem;" class="clr-row clr-justify-content-between">
                <div class="btn-group btn-primary btn-sm">
                  <button type="button" class="btn " (click)="onAdd()"><clr-icon shape="plus"></clr-icon>{{'tasks.management.NewTask' | translate}}</button>
                </div>
                <div class="btn-group">
                  <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'tasks.management.Search' | translate}}"></app-search-box>
                </div>
              </div>
            </clr-dg-action-bar>
            <clr-dg-column [style.width.px]="140">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                Id
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'title'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Title' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [style.width.px]="192" [clrDgField]="'developer.fullName'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Tester' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [style.width.px]="84" [clrDgField]="'priority'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Priority' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [style.width.px]="108" [clrDgField]="'status'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Status' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [style.width.px]="130">
              <ng-container *clrDgHideableColumn="{hidden: false}">

              </ng-container>
            </clr-dg-column>
            <clr-dg-placeholder>Skeleta Task System</clr-dg-placeholder>

            <clr-dg-row *clrDgItems="let task of resolvedTasks" [clrDgItem]="task">
              <clr-dg-cell>
                <clr-icon shape="tasks" class="is-highlight is-solid"></clr-icon>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.id}} </a>
                <span *ngIf="task.openBugcount > 0" class="badge badge-danger">{{task.openBugcount}}</span>
                <span *ngIf="task.resolvedBugcount > 0" class="badge badge-warning">{{task.resolvedBugcount}}</span>
              </clr-dg-cell>
              <clr-dg-cell>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.title}} </a>
              </clr-dg-cell>

              <clr-dg-cell>
                <clr-signpost>
                  <clr-icon size="15" shape="avatar"
                            clrSignpostTrigger>
                  </clr-icon>
                  <clr-signpost-content [clrPosition]="'left-middle'" *clrIfOpen>
                    {{task.tester.fullName}}
                    <br />
                    Phone: {{task.tester.phoneNumber}}
                    <br />
                    Email: {{task.tester.email}}
                  </clr-signpost-content>
                </clr-signpost>
                {{task.tester.fullName}}
              </clr-dg-cell>

              <clr-dg-cell>
                <clr-icon *ngIf="task.priority == 'Critical'" shape="exclamation-triangle" size="15" class="is-error"></clr-icon>
                <clr-icon *ngIf="task.priority == 'High'" shape="exclamation-triangle" size="15" class="is-warning"></clr-icon>
                <clr-icon *ngIf="task.priority == 'Medium'" shape="exclamation-triangle" size="15" class="is-highlight"></clr-icon>
                <clr-icon *ngIf="task.priority == 'Low'" shape="exclamation-triangle" size="15" class="is-success"></clr-icon>
                {{task.priority}}
              </clr-dg-cell>

              <clr-dg-cell>
                <clr-icon *ngIf="task.status == 'New'" shape="circle" size="12" class="is-inverse is-solid"></clr-icon>
                <clr-icon *ngIf="task.status == 'Active'" shape="circle" size="12" class="is-solid is-highlight"></clr-icon>
                <clr-icon *ngIf="task.status == 'Resolved'" shape="circle" size="12" class="is-solid is-warning"></clr-icon>
                <clr-icon *ngIf="task.status == 'Completed'" shape="circle" size="12" class="is-solid is-success"></clr-icon>
                <clr-icon *ngIf="task.status == 'Closed'" shape="circle" size="12" class="is-solid is-error"></clr-icon>
                {{task.status}}
              </clr-dg-cell>



              <clr-dg-cell style="text-align: right; padding-top: 2px; padding-bottom: 2px;">
                <div style="margin: 0rem 0rem 0rem 0;" class="btn-group btn-primary" *ngIf="task.status === 'Resolved'">
                  <button style="margin: 0rem 0rem 0rem 0;" title="{{task.openBugcount > 0 ? 'Return the task for bugfixing' : 'There are no active bugs'}}"
                          *ngIf="task.openBugcount > 0" class="btn btn-sm xs btn-warning" (click)="onActive(task)">
                    <clr-icon shape="ban"></clr-icon>
                    Decline
                  </button>
                  <button style="margin: 0rem 0rem 0rem 0;" title="{{task.openBugcount == 0 && task.resolvedBugcount == 0 ? 'Task will be marked for release' : 'Please review resolved Bugs.'}}"
                          *ngIf="task.openBugcount == 0" [disabled]="task.resolvedBugcount > 0" class="btn btn-sm xs btn-primary" (click)="onCompleted(task)">
                    <clr-icon shape="check"></clr-icon>
                    Complete
                  </button>
                </div>
              </clr-dg-cell>
              <app-task-detail *clrIfExpanded [taskId]="task.id" ngProjectAs="clr-dg-row-detail"></app-task-detail>
            </clr-dg-row>
            <clr-dg-footer>
              <clr-dg-column-toggle>
              </clr-dg-column-toggle>
              <clr-dg-pagination #pagination [clrDgPageSize]="20">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">{{'tasks.management.TasksPerPage' | translate}}</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                {{pagination.totalItems}} {{'tasks.management.Tasks' | translate}}
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
    <!-- Completed Tab -->
    <clr-tab>
      <button (click)="loadData()" clrTabLink>
        Completed
        <clr-icon shape="refresh" size="12" class="is-highlight"></clr-icon>
      </button>
      <ng-template [(clrIfActive)]="CompletedActive">
        <clr-tab-content>
          <clr-datagrid [@fadeInOut] [(clrDgSelected)]="selected" style="height:672px;" class="datagrid-compact">
            <clr-dg-action-bar>
              <div style="margin-right: 0rem; margin-left: 0rem;" class="clr-row clr-justify-content-between">
                <div class="btn-group btn-primary btn-sm">
                  <button type="button" class="btn" (click)="onAdd()"><clr-icon shape="plus"></clr-icon>{{'tasks.management.NewTask' | translate}}</button>
                  <button type="button" class="btn" (click)="onClose(selected)"><clr-icon shape="archive" class="is-solid"></clr-icon>Archive Selected</button>
                  <a (click)="onExportSelected(selected)" class="btn btn-primary">
                    <clr-icon shape="download"></clr-icon>
                    Generate Releasenote
                  </a>
                </div>
                <div class="btn-group">
                  <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'tasks.management.Search' | translate}}"></app-search-box>
                </div>
              </div>
            </clr-dg-action-bar>
            <clr-dg-column [style.width.px]="120">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                Id
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'title'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Task' | translate}}
              </ng-container>
            </clr-dg-column>

            <clr-dg-column [clrDgField]="'status'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Status' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-placeholder>Skeleta System</clr-dg-placeholder>

            <clr-dg-row *clrDgItems="let task of completedTasks" [clrDgItem]="task">
              <clr-dg-cell>
                <clr-icon shape="tasks" class="is-highlight is-solid"></clr-icon>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.id}}</a>
              </clr-dg-cell>
              <clr-dg-cell>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.title}} </a>
              </clr-dg-cell>

              <clr-dg-cell>
                <clr-icon *ngIf="task.status == 'New'" shape="circle" size="12" class="is-inverse is-solid"></clr-icon>
                <clr-icon *ngIf="task.status == 'Active'" shape="circle" size="12" class="is-solid is-highlight"></clr-icon>
                <clr-icon *ngIf="task.status == 'Resolved'" shape="circle" size="12" class="is-solid is-warning"></clr-icon>
                <clr-icon *ngIf="task.status == 'Completed'" shape="circle" size="12" class="is-solid is-success"></clr-icon>
                <clr-icon *ngIf="task.status == 'Closed'" shape="circle" size="12" class="is-solid is-error"></clr-icon>
                {{task.status}}
              </clr-dg-cell>
              <app-task-detail *clrIfExpanded [taskId]="task.id" ngProjectAs="clr-dg-row-detail"></app-task-detail>
            </clr-dg-row>
            <clr-dg-footer>
              <clr-dg-column-toggle>
              </clr-dg-column-toggle>
              <clr-dg-pagination #pagination [clrDgPageSize]="20">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">{{'tasks.management.TasksPerPage' | translate}}</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                {{pagination.totalItems}} {{'tasks.management.Tasks' | translate}}
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
        </clr-tab-content>
      </ng-template>
    </clr-tab>

    <clr-tab>
      <button clrTabLink (click)="loadData()" [clrTabLinkInOverflow]=true>
        Archived
      </button>
      <ng-template [(clrIfActive)]="ArchivedActive">
        <clr-tab-content>
          <clr-datagrid [@fadeInOut] [(clrDgSelected)]="selected" style="height:672px;" class="datagrid-compact">
            <clr-dg-action-bar>
              <div style="margin-right: 0rem; margin-left: 0rem;" class="clr-row clr-justify-content-between">
                <div class="btn-group btn-primary btn-sm">
                  <button type="button" class="btn" (click)="onAdd()"><clr-icon shape="plus"></clr-icon>{{'tasks.management.NewTask' | translate}}</button>
                </div>
                <div class="btn-group">
                  <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'tasks.management.Search' | translate}}"></app-search-box>
                </div>
              </div>
            </clr-dg-action-bar>
            <clr-dg-column [style.width.px]="120">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                Id
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [style.width.px]="200" [clrDgField]="'releaseId'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                Release Id
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'title'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Task' | translate}}
              </ng-container>
            </clr-dg-column>


            <clr-dg-placeholder>Skeleta System</clr-dg-placeholder>

            <clr-dg-column [clrDgField]="'status'">
              <ng-container *clrDgHideableColumn="{hidden: false}">
                {{'tasks.management.Status' | translate}}
              </ng-container>
            </clr-dg-column>

            <clr-dg-row *clrDgItems="let task of archivedTasks" [clrDgItem]="task">
              <clr-dg-cell>
                <clr-icon shape="tasks" class="is-highlight is-solid"></clr-icon>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.id}}</a>
              </clr-dg-cell>
              <clr-dg-cell>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.releaseId}} </a>
              </clr-dg-cell>
              <clr-dg-cell>
                <a href="javascript:void(0)" (click)="onEdit(task)">{{task.title}} </a>
              </clr-dg-cell>
              <clr-dg-cell>
                <clr-icon *ngIf="task.status == 'New'" shape="circle" size="12" class="is-inverse is-solid"></clr-icon>
                <clr-icon *ngIf="task.status == 'Active'" shape="circle" size="12" class="is-solid is-highlight"></clr-icon>
                <clr-icon *ngIf="task.status == 'Resolved'" shape="circle" size="12" class="is-solid is-warning"></clr-icon>
                <clr-icon *ngIf="task.status == 'Completed'" shape="circle" size="12" class="is-solid is-success"></clr-icon>
                <clr-icon *ngIf="task.status == 'Closed'" shape="circle" size="12" class="is-solid is-error"></clr-icon>
                {{task.status}}
              </clr-dg-cell>
              <app-task-detail *clrIfExpanded [taskId]="task.id" ngProjectAs="clr-dg-row-detail"></app-task-detail>
            </clr-dg-row>
            <clr-dg-footer>
              <clr-dg-column-toggle>
              </clr-dg-column-toggle>
              <clr-dg-pagination #pagination [clrDgPageSize]="20">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">{{'tasks.management.TasksPerPage' | translate}}</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                {{pagination.totalItems}} {{'tasks.management.Tasks' | translate}}
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
  </clr-tabs>
</div>
