<div id="pre-bootstrap" *ngIf="!removePrebootScreen" [class.prebootShow.app-component]="!isAppLoaded" class="app-component prebootStep">
	<div class="messaging">
		<h1 style="color:white">
			Loaded!
		</h1>
		<p>
			SKELETA APPLICATION SYSTEM - <span class="appName" style="font-style:italic">Skeleta</span><span class="appName">App</span> &copy; <a href="https://github.com/davidnemeth">David Nemeth</a>
		</p>

	</div>
</div>

<div class="main-container">
	<!--<div class="alert alert-app-level">
		App Level Alert
	</div>-->
	<header class="header-6">
		<div class="branding">
			<a routerLink="" class="nav-link">
				<clr-icon shape="connect" class="is-solid is-success"></clr-icon>
				<span class="title">Project Skeleta</span>
			</a>
		</div>
		<div class="header-nav">
			<a routerLink="" class="active nav-link"><span class="nav-text">Dashboard</span></a>
			<a routerLink="" class="nav-link"><span class="nav-text">Interactive Analytics</span></a>
		</div>
		<form class="search">
			<label for="search_inout">
				<input id="search_inout" placeholder="Search all..." type="text" />
			</label>
		</form>
		<div class="header-actions">
			<clr-dropdown>
				<button class="nav-icon" clrDropdownTrigger>
					<clr-icon shape="user" class="is-solid has-badge--success"></clr-icon>
					<clr-icon shape="caret down"></clr-icon>
				</button>
				<clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">

					<a routerLink="" clrDropdownItem>{{userEmail}}</a>
					<a routerLink="" clrDropdownItem>Profile</a>
					<a routerLink="" clrDropdownItem>Admin</a>
					<a (click)="logout()" clrDropdownItem href="javascript:;">{{'loginScreen.Logout' | translate}}</a>
				</clr-dropdown-menu>
			</clr-dropdown>
		</div>
	</header>
	<div class="content-container">
		<div class="content-area" on-mouseover='over(true)'>			
			<router-outlet></router-outlet>
		</div>
		<clr-vertical-nav on-mouseover='over(false)' [clrVerticalNavCollapsible]=true [(clrVerticalNavCollapsed)]="collapsed">
			<a clrVerticalNavLink routerLink="./home" routerLinkActive="active">
				<clr-icon clrVerticalNavIcon shape="user"></clr-icon>
				Normal
			</a>
			<a clrVerticalNavLink routerLink="./home" routerLinkActive="active">
				<clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
				Electric
			</a>
			<a clrVerticalNavLink routerLink="./home" routerLinkActive="active">
				<clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
				Poison
			</a>
			<a clrVerticalNavLink routerLink="./home" routerLinkActive="active">
				<clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
				Grass
			</a>
			<a clrVerticalNavLink routerLink="./home" routerLinkActive="active">
				<clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
				Fighting
			</a>
			<a clrVerticalNavLink routerLink="./home" routerLinkActive="active">
				<clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
				Credit
			</a>
		</clr-vertical-nav>
	</div>	
</div>


<!--<div id="footer">
	<div class="app-component navbar-fixed-bottom navbar-inner footer">
		<div class="container">
			<footer>
				<div class="app-component vcenter_text center-block">
					<p class="text-center text-muted">
						<span class="appName" style="font-style:italic">Skeleta</span><span class="appName">App</span> &copy; {{getYear()}}
						<a href="https://github.com/davidnemeth">David Nemeth</a>
					</p>
				</div>
			</footer>
		</div>
	</div>
</div>-->

<div *ngIf="shouldShowLogin" (onShown)="onLoginShown()" (onHidden)="onLoginHidden()" (onHide)="onLoginHide()">
	<app-login #loginControl></app-login>
</div>
