<clr-modal [(clrModalOpen)]="openModal" (clrModalOpenChange)="openChange($event)" [clrModalSize]="'lg'">
  <div class="modal-header">
    <button aria-label="Close" class="close" type="button">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
    <h3 class="modal-title">Edit Profile</h3>
  </div>
  <div class="modal-body">
   
    <form clrForm [formGroup]="userForm" (ngSubmit)="save()">
      <clr-input-container>
        <label>{{'users.editor.UserName' | translate}}</label>
        <input clrInput type="text" formControlName="userName"/>
      </clr-input-container>

      <clr-input-container>
        <label>{{'users.editor.JobTitle' | translate}}</label>
        <input clrInput type="text" formControlName="jobTitle"/>
        <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>{{'users.editor.FullName' | translate}}</label>
        <input clrInput type="text" formControlName="fullName"/>
      </clr-input-container>

      <clr-input-container>
        <label>{{'users.editor.Email' | translate}}</label>
        <input clrInput type="email" formControlName="email"/>
      </clr-input-container>

      <clr-input-container>
        <label>{{'users.editor.PhoneNumber' | translate}}</label>
        <input clrInput type="text" formControlName="phoneNumber"/>
      </clr-input-container>

      <div *ngIf="isCurrentPassowrd">
        <clr-input-container>
          <label>{{'users.editor.Password' | translate}}</label>
          <input clrInput type="password" formControlName="currentPassword" placeholder="Enter current password" />
        </clr-input-container>
      </div>

      <div *ngIf="isConfirmPassword">
        <clr-input-container>
          <label>{{'users.editor.NewPassword' | translate}}</label>
          <input clrInput type="password" formControlName="newPassword" placeholder="Enter new password" />
        </clr-input-container>

        <clr-input-container>
          <label>{{'users.editor.ConfirmPassword' | translate}}</label>
          <input clrInput type="password" formControlName="confirmPassword" placeholder="Confirm new password" />
        </clr-input-container>
      </div>

      <button *ngIf="canChangePassword" class="btn btn-link" type="button" (click)="addChangePassword()">{{'users.editor.ChangePassword' | translate}}</button>

      <clr-select-container>
        <label>{{'users.editor.Roles' | translate}}</label>
        <select multiple clrSelect formControlName="roles">
          <option *ngFor="let role of allRoles" [value]="role.name">{{role.name}}</option>
        </select>
      </clr-select-container>
      <div class="modal-footer">
        <button [clrLoading]="submitBtnState" type="submit" [disabled]="!userForm.valid" class="btn btn-success">Save</button>
        <button type="button" (click)="resetForm()" class="btn btn-info">Reset</button>
      </div>
    </form>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="deleteOpen">
  <h3 class="modal-title">Delete user</h3>
  <div class="modal-body">
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="deleteOpen = false">Cancel</button>
    <button type="button" [clrLoading]="deleteBtnState" class="btn btn-primary" (click)="Delete()">Delete</button>
  </div>
</clr-modal>
