<form *ngIf="isOpen" class="clr-form card" autocomplete="off" [formGroup]="taskForm" (ngSubmit)="save()">

  <div class="card-header">
    <div class="clr-control-container clr-control-inline btn-group btn-sm">
      <div *ngFor="let priority of allPriority" class="radio btn">
        <input type="radio" formControlName="priority" [value]="priority" id="{{priority}}">
        <label for="{{priority}}">{{priority}}</label>
      </div>
    </div>
  </div>

  

  <div class="card-block">
    <div class="clr-form-control">
      <label class="clr-control-label">{{'tasks.editor.Status' | translate}}</label>
      <div class="clr-control-container">
        <div class="clr-select-wrapper">
          <select class="clr-select" formControlName="status">
            <option *ngFor="let status of allStatus" [value]="status">{{status}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="clr-form-control">
      <label class="clr-control-label">{{'tasks.editor.Developer' | translate}}</label>
      <div class="clr-control-container">
        <div class="clr-select-wrapper">
          <select class="clr-select" formControlName="developerId">
            <option *ngFor="let user of users" [value]="user.id">{{user.fullName}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="clr-form-control">
      <label class="clr-control-label">{{'tasks.editor.Tester' | translate}}</label>
      <div class="clr-control-container">
        <div class="clr-select-wrapper">
          <select class="clr-select" formControlName="testerId">
            <option *ngFor="let user of users" [value]="user.id">{{user.fullName}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="clr-form-control">
      <label class="clr-control-label">{{'tasks.editor.Title' | translate}}</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input class="clr-input" type="text" formControlName="title" />
        </div>
      </div>
    </div>

    <div class="clr-form-control">
      <label for="example" class="clr-control-label">{{'tasks.editor.Description' | translate}}</label>
      <quill-editor [style]="{height: '200px'}" style="width: 100%;" formControlName="description"></quill-editor>
      <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
    </div>

    <div class="clr-row">
      <div class="clr-form-control">
        <button [clrLoading]="submitBtnState" type="submit" [disabled]="taskForm.invalid" class="btn btn-primary">{{actionTitle}}</button>
      </div>
      <div class="clr-form-control">
      </div>
    </div>
  </div>

    <div class="card-footer">
      <button type="button" (click)="close()" class="btn btn-sm btn-link">Back</button>
      <button type="button" (click)="resetForm()" class="btn btn-sm btn-link">Reset</button>
    </div>

</form>

<clr-modal [(clrModalOpen)]="deleteOpen">
  <h3 class="modal-title">Delete task</h3>
  <div class="modal-body">
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="deleteOpen = false">Cancel</button>
    <button type="button" [clrLoading]="deleteBtnState" class="btn btn-danger" (click)="Delete()">Delete</button>
  </div>
</clr-modal>
