<app-bugitem-edit (openClose)="closeTab($event)" (updateData)="updateList($event)" (popData)="popItem($event)" (updateStatus)="updateStatus($event)" (deleteData)="deleteList($event)"></app-bugitem-edit>
<br />
<div class="btn-group btn-primary btn-sm">
  <button type="button" (click)="onAdd()" class="btn">
    <clr-icon shape="plus"></clr-icon>
    New Bug
  </button>
</div>
<div class="clr-row">
  <div class="clr-col-12 clr-col-lg-4">
    <table *ngIf="ActiveBugs.length > 0" class="table table-compact" style="margin-top: 0.3rem">
      <tbody>
        <tr *ngFor="let bug of ActiveBugs">
          <td class="left">
            <clr-icon shape="bug" class="is-solid is-error"></clr-icon>
            <a href="javascript:void(0)" (click)="onEdit(bug)">{{bug.title}}</a>
          </td>
          <td class="right">
            <clr-icon shape="circle" size="12" class="is-solid is-highlight"></clr-icon>
            {{bug.status}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="clr-col-12 clr-col-lg-4">
    <table *ngIf="ResolvedBugs.length > 0" class="table table-compact" style="margin-top: 0.3rem">
      <tbody>
        <tr *ngFor="let bug of ResolvedBugs">
          <td class="left">
            <clr-icon shape="bug" class="is-solid is-error"></clr-icon>
            <a href="javascript:void(0)" (click)="onEdit(bug)">{{bug.title}}</a>
          </td>
          <td class="right">
            <clr-icon shape="circle" size="12" class="is-solid is-warning"></clr-icon>
            {{bug.status}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="clr-col-12 clr-col-lg-4">
    <table *ngIf="CompletedBugs.length > 0" class="table table-compact" style="margin-top: 0.3rem">
      <tbody>
        <tr *ngFor="let bug of CompletedBugs">
          <td class="left">
            <clr-icon shape="bug" class="is-solid is-error"></clr-icon>
            <a href="javascript:void(0)" (click)="onEdit(bug)">{{bug.title}}</a>
          </td>
          <td class="right">
            <clr-icon shape="circle" size="12" class="is-solid is-success"></clr-icon>
            {{bug.status}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
