<clr-datagrid style="height:710px;" class="datagrid-compact">
  <clr-dg-action-bar>
    <div style="margin-right: 0rem; margin-left: 0rem;" class="clr-row clr-justify-content-between">
      <div class="btn-group btn-primary btn-sm">
        <button type="button" class="btn" (click)="onAdd()"><clr-icon shape="plus"></clr-icon>{{'bugs.management.Newbug' | translate}}</button>
      </div>
      <div class="btn-group">
        <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'bugs.management.Search' | translate}}"></app-search-box>
      </div>
    </div>

  </clr-dg-action-bar>
  <clr-dg-column [clrDgField]="'title'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'bugs.management.Title' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'taskItemTitle'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'bugs.management.TaskItemTitle' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'status'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'bugs.management.Status' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'developer.fullName'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'bugs.management.Developer' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'tester.fullName'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'bugs.management.Tester' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-placeholder>Loading bugs!</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let bug of bugs" [clrDgItem]="bug">
    <clr-dg-cell>
      <a href="javascript:void(0)" (click)="onEdit(bug.id)">{{bug.title}}</a>
    </clr-dg-cell>

    <clr-dg-cell>
      {{bug.taskItemTitle}}
    </clr-dg-cell>

    <clr-dg-cell>
      <clr-icon *ngIf="bug.status == 'New'" shape="circle" size="12" class="is-inverse is-solid"></clr-icon>
      <clr-icon *ngIf="bug.status == 'Active'" shape="circle" size="12" class="is-solid is-highlight"></clr-icon>
      {{bug.status}}
    </clr-dg-cell>

    <clr-dg-cell>
      <clr-signpost>
        <clr-icon size="15" shape="avatar"
                  clrSignpostTrigger>
        </clr-icon>
        <clr-signpost-content [clrPosition]="'left-middle'" *clrIfOpen>
          {{bug.developer.fullName}}
          <br />
          Phone: {{bug.developer.phoneNumber}}
          <br />
          Email: {{bug.developer.email}}
        </clr-signpost-content>
      </clr-signpost>
      {{bug.developer.fullName}}
    </clr-dg-cell>

    <clr-dg-cell>
      <clr-signpost>
        <clr-icon size="15" shape="avatar"
                  clrSignpostTrigger>
        </clr-icon>
        <clr-signpost-content [clrPosition]="'left-middle'" *clrIfOpen>
          {{bug.tester.fullName}}
          <br />
          Phone: {{bug.tester.phoneNumber}}
          <br />
          Email: {{bug.tester.email}}
        </clr-signpost-content>
      </clr-signpost>
      {{bug.tester.fullName}}
    </clr-dg-cell>

    <!--<clr-dg-action-overflow>
    <button [disabled]="bug.status === 'Active'" class="action-item" (click)="onActive(bug)">Mark as Active</button>
    <button [disabled]="bug.status === 'New'" class="action-item" (click)="onResolved(bug)">Mark as Resolved</button>
    <button class="action-item" (click)="onDelete(bug)">Delete</button>
  </clr-dg-action-overflow>-->
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-column-toggle>
    </clr-dg-column-toggle>
    <clr-dg-pagination #pagination [clrDgPageSize]="20">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100,1000]">{{'bugs.management.bugsPerPage' | translate}}</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      {{pagination.totalItems}} {{'bugs.management.bugs' | translate}}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
