/* You can add global styles to this file, and also import other style files */
/*@import "~@ng-select/ng-select/themes/material.theme.css";*/
@import '../node_modules/@clr/icons/clr-icons.min.css';
@import '../src/app/assets/styles/themes/light.css';
@import '~ngx-toasta/styles/style-default.css';
/*@import '../src/app/assets/styles/themes/dark.css';*/


/*Side-Nav Changes*/
/*.sidenav .sidenav-content > .nav-link.active {
  box-shadow: inset 3px 0 0 #004a70;
  border-radius: 0 0.125rem 0.125rem 0;
}

.sidenav .sidenav-content > .nav-link:hover {
  box-shadow: inset 3px 0 0 #004a70;
  border-radius: 0 0.125rem 0.125rem 0;
}

.sidenav .nav-group .nav-list .nav-link.active {
  box-shadow: inset 3px 0 0 #004a70;
  border-radius: 0 0.125rem 0.125rem 0;
}

.sidenav .nav-group .nav-list .nav-link:hover {
  box-shadow: inset 3px 0 0 #004a70;
  border-radius: 0 0.125rem 0.125rem 0;
}*/

.sidenav .nav-group label, .slider-nav .nav-group label {
  font-weight: 700;
  color: #000;
}

/*DataGrid Changes*/
.datagrid .datagrid-column, .datagrid .datagrid-cell {
  line-height: 0.6rem !important;
}

.header {
  background-color: #002538 !important;
}

:host(), .side-nav {
  height: 100%;
}

:host() {
  display: flex;
}

/*fusion remove link*/

g[class$='creditgroup'] {
  display: none !important;
}

g[class^='raphael-group-'][class$='-creditgroup'] {
  display: none !important;
}

/*custom classes*/
.formwrapper {
  max-width: 600px;
}


.ng-value  {
  background: #e1f1f6;
  color: #004a70;
  border: 1px solid #49afd9;
  font-size: 0.458333rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 0.458333rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem 1px;
  border-radius: 0.5rem;
  height: 0.875rem;
  margin: 0 0.25rem 0 0;
  white-space: nowrap;
  color: #565656;
}

#toasta.toasta-position-top-right {
  top: 70px;
  right: 20px;
}

#toasta .toast.toasta-theme-bootstrap {
  font-size: 1em;
}

  #toasta .toast.toasta-theme-bootstrap .toast-text .toast-title {
    font-size: 1.04em;
  }

#toasta .toast-text .toast-msg {
  max-width: 1000px;
  max-height: 800px;
  display: inline-block;
  overflow: auto;
}
