/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@clr/icons/clr-icons.min.css';
@import '../src/app/assets/styles/themes/light.css';
/*@import '../src/app/assets/styles/themes/dark.css';*/


/*Side-Nav Changes*/
/*.sidenav .sidenav-content > .nav-link.active {
  box-shadow: inset 3px 0 0 #004a70;
  border-radius: 0 0.125rem 0.125rem 0;
}

.sidenav .sidenav-content > .nav-link:hover {
  box-shadow: inset 3px 0 0 #004a70;
  border-radius: 0 0.125rem 0.125rem 0;
}

.sidenav .nav-group .nav-list .nav-link.active {
  box-shadow: inset 3px 0 0 #004a70;
  border-radius: 0 0.125rem 0.125rem 0;
}

.sidenav .nav-group .nav-list .nav-link:hover {
  box-shadow: inset 3px 0 0 #004a70;
  border-radius: 0 0.125rem 0.125rem 0;
}*/

.sidenav .nav-group label, .slider-nav .nav-group label {
  font-weight: 700;
  color: #000;
}

/*DataGrid Changes*/
.datagrid .datagrid-column, .datagrid .datagrid-cell {
  line-height: 0.6rem !important;
}

.header {
  background-color: #002538 !important;
}

:host(), .side-nav {
  height: 100%;
}

:host() {
  display: flex;
}

/*fusion remove link*/

g[class$='creditgroup'] {
  display: none !important;
}

g[class^='raphael-group-'][class$='-creditgroup'] {
  display: none !important;
}

/*custom classes*/
.formwrapper {
  padding-left: 36px;
  padding-top: 6px;
  padding-bottom: 96px;
  max-width: 900px;
  width: 100%;
}
