/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@clr/icons/clr-icons.min.css';
@import '../src/app/assets/styles/themes/light.css';
/*@import '../src/app/assets/styles/themes/dark.css';*/

.website-logo {
  margin-right: 11px;
  height: 36px !important;
  width: 36px !important;
}
g[class$='creditgroup'] {
  display: none !important;
}

g[class^='raphael-group-'][class$='-creditgroup'] {
  display: none !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}


.header {
  background-color: #04486d !important;
}

.title {
  font-weight: 600 !important;
}

/*.header .header-nav .nav-link:hover, header .header-nav .nav-link:hover {
  background: hsla(0, 0%, 100%, 0.15);
  opacity: 1;
}*/
