<app-user-edit (shouldUpdateData)="loadData()" [action]="action" [userId]="userid" [(openModal)]="openModal"></app-user-edit>

<div class="clr-row">
  <div class="clr-col-2">

  </div>
  <div class="clr-col-8">
    <div class="card">
      <div class="card-img">
        <img src="../../../../assets/images/teszt.jpg" />
      </div>
      <div class="card-block">
        <h4 class="card-title">{{userInfo.fullName}} ({{userInfo.userName}})</h4>
        <p class="card-text">
          {{userInfo.email}} ({{userInfo.phoneNumber}})
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="label label-info" *ngFor="let role of userInfo.roles">{{role}}</span></li>
      </ul>
      <div class="card-footer">
        <button class="btn btn-link" type="button" (click)="editUser()">Edit</button>
      </div>
    </div>
  </div>
  <div class="clr-col-2">
  </div>
</div>
