<clr-modal [(clrModalOpen)]="isOpen" (clrModalOpenChange)=onOpen() [clrModalStaticBackdrop]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">Manage Bug</h3>
  <div class="progress loop modal-body" *ngIf="isOpen && dataLoaded === false">
    <progress></progress>
  </div>
  <div class="modal-body">
    <form clrForm clrLayout="vertical" *ngIf="dataLoaded" autocomplete="off" [formGroup]="bugForm" (ngSubmit)="save()">
      <div style="box-shadow: inset 8px 0 0 #e12200;">
        <div style="margin-left:2rem; margin-right:2rem;">
          <div class="clr-row">
            <div style="margin-top: 0rem !important;" class="clr-form-control clr-col">
              <label class="clr-control-label">{{'general.management.Developer' | translate}}</label>
              <div class="clr-select-wrapper">
                <select class="clr-select" formControlName="developerId">
                  <option *ngFor="let user of users" [value]="user.id">{{user.fullName}}</option>
                </select>
              </div>
            </div>
            <div style="margin-top: 0rem !important;" class="clr-form-control clr-col">
              <label class="clr-control-label">{{'general.management.Tester' | translate}}</label>
              <div class="clr-select-wrapper">
                <select class="clr-select" formControlName="testerId">
                  <option *ngFor="let user of users" [value]="user.id">{{user.fullName}}</option>
                </select>
              </div>
            </div>
            <div style="margin-top: 0rem !important;" class="clr-form-control clr-col-2">
              <label class="clr-control-label">Status</label>
              <div class="clr-select-wrapper">
                <select class="clr-select" formControlName="status">
                  <option *ngFor="let status of allStatus" [value]="status">{{status}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="clr-form-control">
            <div style="width:100%" class="clr-control-container">
              <div class="clr-input-wrapper">
                <input placeholder="Title is required" style="width:100%" id="title" class="clr-input" type="text" formControlName="title" required />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-form-control">
        <quill-editor [style]="{height: '240px'}" style="width: 100%;" formControlName="description"></quill-editor>
        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="modal-footer">
        <button [clrLoading]="submitBtnState" type="submit" [disabled]="bugForm.invalid" class="btn btn-primary">{{'general.management.Edit' | translate}}</button>
      </div>
    </form>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="deleteOpen">
  <h3 class="modal-title">Delete bug</h3>
  <div class="modal-body">
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="deleteOpen = false">{{'general.management.Cancel' | translate}}</button>
    <button type="button" [clrLoading]="deleteBtnState" class="btn btn-danger">{{'general.management.Delete' | translate}}</button>
  </div>
</clr-modal>
