<clr-dropdown>
  <button type="button" class="btn btn-primary" clrDropdownTrigger>
    Dropdown
    <clr-icon shape="caret down"></clr-icon>
  </button>
  <clr-dropdown-menu *clrIfOpen>
    <label class="dropdown-header">Dropdown header</label>
    <button type="button" clrDropdownItem>Action 1</button>
    <button type="button" clrDropdownItem>Action 2</button>
    <div class="dropdown-divider"></div>
    <button type="button" clrDropdownItem>Link 1</button>
    <button type="button" clrDropdownItem>Link 2</button>
  </clr-dropdown-menu>
 </clr-dropdown>
