/* You can add global styles to this file, and also import other style files */


@font-face {
	font-family: Metropolis-Regular;
	src: url(assets/fonts/Metropolis/TrueType/Metropolis-Regular.ttf) format("opentype");
}

body {
	font-family: Metropolis-Regular;
}

